includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkModelProperties: true
    databaseMigrationsPath:
        - database/migrations
    configDirectories:
        - config

    ignoreErrors:
        -
            message: '#^Parameter \#1 \$view of function view expects view-string\|null, string given\.$#'
            paths:
                - src/Http/Controllers/UnsubscribeController.php
                - src/Http/Controllers/OptInController.php
